/*
*背景画像
*/
body {
    margin: 0;
}

.container-main {
    background-image: url(img/back.png);
    height: 670px;
}

/*
*ヘッダー
*/
.block-header {
    padding: 15px;
    font-size: 6px;
}

.block-header a {
    text-decoration: none;
    color: #ffff;
}


.block-header span {
    letter-spacing: 2.5px;
    margin: 13px;
    border-bottom: solid 3px #6AEDC8;  
}
.block-header div{
    display: inline;
    margin-right: 10px;
}

.block-main .block-profile {


}

/*
*mainのスタイルシート
*/
.block-main .block-profile img {
    padding: 10px;
    width: 250px;
    border: 1px solid white;
    border-radius: 50%;
    
   
}

.block-main .block-profile .inner {
    
    padding-top: 160px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
   
}

.block-main .block-profile .inner .inner-block {
    text-align: center;
    padding-top: 65px;
    padding-left: 50px;
}

.inner-block h2 {
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
}

.inner-block p {
    
    font-family: sans-serif;
    color: white;
    font-size: larger;
    letter-spacing: 2px;

}

.inner-block span{
    font-family: sans-serif;
    color: white;
    font-size: larger;
    letter-spacing: 3px;
}

.inner-block div {
    height: 40px;
    width: 230px;
    border-bottom: 1px solid #6AEDC8;
    margin-left: 40px;
}

/*
*Aboutのスタイルシート
*/

.block-about {

}

.block-about .item-list {
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-about .item-list h2 {
    font-family: ui-sans-serif;
    font-weight: 250;
    letter-spacing: 4px;
    text-align: center;
}

.block-about .item-list .img {
    text-align: center;
    margin-bottom: 60px
}

.block-about .item-list .text-list {
    display: inline;
    text-align: center;
}

.block-about .item-list p {
    margin-top: 40px;
    padding-left: 275px;
    padding-right: 275px;
    letter-spacing: 2px;
}

.block-about .item-list .icon-list {
    text-align: center;
    margin-top: 30px;
}

.block-about .item-list .icon-list li {
    display: inline;
    margin-right: 40px; 
}

.block-about .item-list .icon-list .smaller {
    width: 60px;
}

.block-about .item-list .icon-list img {
    width: 50px;
}

/*
*worksのスタイルシート
*/

.color-green {
    color: #6AEDC8;
}

.box-works {
    margin: 80px 0 0;
}

.sub-title {
    text-align: center;
}

.works-list {
    list-style: none;
    width: 100%;
    max-width: 1076px;
    margin: 30px auto;
    padding: 0;
    text-align: left;
    overflow: hidden;
}

.works-list li {
    display: block;
    width: 100%;
    max-width: 348px;
    float: left;
    margin-right: 15px;
}


.works-list li:last-child {
    margin-right: 0;
}

.works-list li img {
    width: 100%; /*works-listのmax-widthに対して100％にした*/
    border: solid 1px black;
}

.works-list li .link a {
    background-color: rgb(226, 226, 226);
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

.works-list li .link {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;    
}